*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: brown;
    border:3px solid black;
    height:500px;
    display: grid;
    grid-template-columns:150px 1fr 500px 150px ;    /*  phla 100px ka or saare (bache hue )fr unit  teeno equally divide ho jayegi*/
    grid-template-rows: 30px 1fr 30px;   /* ye jada responsive ni h*/
    gap: 10px;
}
.box{
    background-color: aqua;
    border:1px solid black;
    
    /* height: 80px; */
}
#box1,#box4{
    grid-column-start: 1;
    grid-column-end: 5;
}
#box3{
    grid-column-start: 2;
    grid-column-end: 4;
}